// COLOR
$hexWhite: #ffffff;
$hexBlack: #333333;
$hexGray: #eeeeee;
$hexLightGray: #f6f6f8;
$hexBorder: #dee2e6;
$hexRed: #ff3b30;

$hex0: #000000;
$hex6: #666666;

// FONT WEIGHT
$fwR: 400;
$fwM: 500;
$fwSB: 600;
$fwB: 700;

// SCROLL
$hexScbDefault: #adadad;
$scY: 4px;

// common
$lnbW: 240px;
