@use '../utils/' as *;

.content {
	width: calc(100% - $lnbW);
	padding: 6px 20px;

	&__title {
		margin-bottom: 20px;
		padding: 24px 0;
		color: $hexBlack;
		font-weight: $fwB;
		font-size: 26px;
		line-height: 26px;
	}
	&__footer {
		display: grid;
		grid-template-columns: 1fr auto 1fr;
		margin-top: 20px;
		.button + .button {
			margin-left: 8px;
		}
	}

	.table {
		thead {
			tr {
				height: 54px;
			}
		}
		tbody {
			tr {
				height: 60px;
				border-bottom: 1px solid $hexBorder;
			}
		}
		th {
			background-color: $hexGray;
			color: $hexBlack;
			font-weight: $fwM;
			font-size: 16px;
			line-height: 16px;
		}
		td {
			color: $hexBlack;
			font-weight: $fwR;
			font-size: 16px;
			line-height: 16px;
			text-align: center;
			&.text-left {
				text-align: left;
			}
		}
		&__arrow {
			@include reset(icon);
			$s: 24px;
			width: $s;
			height: $s;
			border: 1px solid $hexBorder;
			border-radius: 4px;
			background-image: url(url-img(icon, table, arrow));
			&.down {
				transform: rotate(180deg);
			}
		}
		// 더블클래스
		&__flex {
			@include set-flex($a: center, $j: center);
			gap: 6px;
		}
	}
}

.pagination {
	@include set-flex($a: center, $j: center);
	gap: 4px;
	.button,
	.num {
		$w: 30px;
		width: $w;
		height: $w;
	}
	.button {
		$icons: (
			'first': (
				'arrow-edges',
				null,
			),
			'last': (
				'arrow-edges',
				-180deg,
			),
			'prev': (
				'arrow',
				null,
			),
			'next': (
				'arrow',
				-180deg,
			),
		);
		&.is {
			@each $name, $data in $icons {
				&--#{$name} {
					@include reset(icon);
					$file: nth($data, 1);
					$rotate: nth($data, 2);

					background-image: url(url-img(icon, pagination, $file));

					@if $rotate != null {
						transform: rotate($rotate);
					}
				}
			}
		}
	}
	.num {
		color: $hexBlack;
		font-weight: $fwM;
		font-size: 14px;
		line-height: 14px;
		&.active {
			background-color: rgba(141, 156, 152, 0.2);
			color: #8d9c98;
		}
	}
}

.button {
	width: 120px;
	height: 40px;
	border-radius: 6px;
	&.is {
		&--black {
			background-color: $hex0;
			color: $hexWhite;
		}
		&--white {
			border: 1px solid $hexBorder;
			background-color: $hexWhite;
			color: #505058;
		}
		&--gray {
			background-color: $hexLightGray;
			color: $hex6;
		}
	}
	&.size {
		&--s {
			width: auto;
			padding: 0 20px;
		}
	}
}

.forms {
	&__table {
		width: 100%;
		table {
			display: block;
			width: 100%;
			// border-collapse: collapse;
			& + table {
				margin-top: 40px;
			}
		}
		tbody {
			display: grid;
			grid-template-columns: 1fr 1fr;
			column-gap: 120px;
			width: 100%;
		}
		tr {
			@include set-flex($dir: column, $a: flex-start);
			width: 100%;
			gap: 9px;
		}
		th {
			.required {
				color: $hexRed;
			}
		}
		td {
			width: 100%;
		}
	}
	&__text {
		width: 100%;
		height: 40px;
		padding: 0 12px;
		border: 1px solid $hexBorder;
		border-radius: 6px;
	}
	&__date {
		@include set-flex($a: center);
		width: 100%;
		gap: 20px;
		input {
			width: 100%;
			height: 40px;
			padding: 0 12px;
			border: 1px solid $hexBorder;
			border-radius: 6px;
		}
	}
}
